DEVELOPER_ID="ALL_PERMISSIONS"
# -- -- -- -- -- BOTs -- -- -- -- --
TOKEN="token_here"
TOKEN1="token1_here"
TOKEN2="token2_here"
TOKEN3="token3_here"
TOKEN4="token4_here"

TELEGRAM_BOT_TOKEN=""
# -- --
CONSOLE="CMD"
IMAGE_URL="your_image_url_here"
# -- --

# -- -- -- -- -- SOSIYAL'S KEYS -- -- -- -- --

GROUP_CHAT_ID=""
TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
YOUTUBE_API_KEY=""

# -- -- -- -- -- MIGRATIONS DATEBASE -- -- -- --
DB_STATUS=false # < true | false >
DB_TYPE="local" # < all | local | postgresql >
DB_URL=""
DB_PATH="./src/migrations/database/local"
